body {
  font-family: Arial, sans-serif;
  overflow: hidden; /* Evita que el contenido se desborde */
}

.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(231, 90, 9, 0.651),
      rgba(255, 255, 255, 0.295)
    ),
    url("/fondo1.png");
  background-size: cover;
}

.registerTitle {
  font-size: 30px; /* Ajustamos el tamaño de fuente */
  font-weight: bold; /* Añadimos negrita */
  margin-bottom: 0px; /* Ajustamos el margen inferior */
}

.registerForm {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  background-color: #01696e; /* Utilizamos el mismo color de fondo que en el formulario de inicio de sesión */
  padding: 20px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
}

.registerForm > label {
  margin: 10px 0;
  color: rgb(253, 253, 253);
  font-size: 12px;
}

.registerInput {
  width: 200px; /* Ancho fijo para todos los inputs */
  padding: 10px; /* Espaciado interno */
  background-color: rgba(255, 255, 255, 0.7); /* Color de fondo blanco con opacidad */
  border: none;
  border-radius: 5px; /* Bordes redondeados */
  font-size: 12px; /* Tamaño de fuente */
  outline: none; /* Elimina el resaltado al hacer clic */
  transition: border-color 0.3s; /* Transición suave para el borde */
}

.registerInput:placeholder-shown{
  font-size: 14px;
}

.registerInput:focus {
  outline: none;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: #df6705; /* Utilizamos el mismo color de botón que en el inicio de sesión */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.registerLoginButton {
  position: absolute;
  top: 60px;
  right: 20px;
  
  cursor: pointer;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
}
