/* Estilos para el footer */
footer {
    background-color: #df6705;
    color: #fff;
    text-align: center;
    padding: 5px 0px; /* Relleno vertical reducido a 5px */
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000; /* Ajusta el índice z si es necesario */
}

